.wrapper {
  border: 1px solid var(--lightGrey);
  width: 50%;
  padding: 30px 40px;
  border-radius: 20px;
  margin-block: 10px 60px;
}
.formGroup {
  display: flex;
  gap: 30px;
}
.inputGroup {
  width: 100%;
}
.input {
  width: 100% !important;
}
.textAreaInput {
  width: 100% !important;
}
.datePicker {
  width: 300px !important;
}
.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
