.wrapper {
  border: 1px solid var(--lightGrey);
  width: 60%;
  padding: 30px 40px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 40px;
  height: 40px;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-block: 20px;
}

.input {
  width: 100%;
}

.authButton {
  margin-top: 20px;
}

.subHeading {
  font-size: 16px;
  font-weight: bold;
  margin-block: 70px 15px;
}

.addButton {
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  gap: 10px;
}
